numpy~=1.22.3
torchvision~=0.13.0
opencv-python~=4.6.0.66
pandas~=1.4.3
scikit-image~=0.19.3
pillow~=9.2.0
tqdm~=4.64.0
scipy~=1.8.1
setuptools~=63.2.0
tensorboardx~=2.5.1
dcnv2~=0.1
six~=1.16.0
pyyaml~=6.0
albumentations~=1.2.1